/* From Uiverse.io by JaydipPrajapati1910 */
/* Button Styles */
button {
  --color: var(--primary-color);
  font-family: inherit;
  display: inline-block;
  width: auto;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.8em;
  overflow: hidden;
  margin: 20px;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 8px;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: color 0.4s;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 15em;
  height: 15em;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: .4s all;
}

button:hover {
  color: var(--bg-color);
}

button:hover::before {
  top: -5em;
  left: -5em;
}